@import "./utils/variables";
@import "./base/general";
@import "./layout/index/seccionmedia";
@import "./layout/preguntas/preguntas";
@import "./utils/mixins";
@import "./utils/extend";
@import "./utils/map";

  
  .h2-products-section {
    text-align: center;
    font-size: 40px;
    font-family: 'Bebas';
    background-color: #f3f3f3;
  }
  
  .h2-nosotros h2 {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #3122fa;
    font-family: 'Catamaran', sans-serif;
  }
  
  .nosotros-container {
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    font-size: 20px;
    padding: 10px;
    margin: 40px;
    border-bottom: 1px solid #3122fa;
  }
  
  .contact-container h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .contact-container {
    width: 500px;
    padding: 30px;
    display: inline-block;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px;
    background-color: transparent;
    margin-bottom: 10px;
    background-color: $mrk_color;
  }
  
  .controls {
    width: 90%;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
  }
  
  .contact-container p {
    height: 40px;
    font-size: 18px;
    display: inline;
  }
  
  .boton {
    width: 100%;
    padding: 12px;
    margin: 16px 0;
    font-size: 16px;
  }
  
  .mrk-portada {
    width: 100%;
    height: 100%;
  }
  
  .mrk-portada img {
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #2f26b1;
    border-top: 2px solid #2f26b1;
  }
  
  .body-nosotros-container {
    width: 100%;
    height: 100%;
    background: $fondos_galeria;
    text-align: center;
  }
  
  .boton-a {
    text-decoration: none;
    font-family: 'Bebas';
  }
  
  .boton-container {
    margin: 50px;
    border: 1px solid black;
    border-radius: 30px;
  }
  
  .profile {
    display: inline-block;
  }
  
  .profile img {
    width: 300px;
    margin: 10px;
  }
  
  .profile h2 {
    text-align: center;
  }
  
  @media screen and (max-width: 1490px) {
    .galeria-completa {
      -ms-grid-columns: auto auto auto;
          grid-template-columns: auto auto auto;
    }
  }
  
  @media screen and (max-width: 940px) {
    .logo h1 {
      font-size: 50px;
    }
  
    li a:hover, li a.active {
      background-color: none;
      color: #76bef8;
    }
    .galeria-completa {
      display: block;
    }
    .foot-container {
      -ms-grid-columns: auto auto;
          grid-template-columns: auto auto;
      -ms-grid-rows: auto auto;
          grid-template-rows: auto auto;
    }
  }
  
  @media(max-width: 480px){
    .contact-container{
      width: 100%;
    }
  }
  
  @media screen and (max-width: 460px){
    .promo1 img{
      width: 300px;
    }
    .promo2 img{
      width: 300px;
    }
    .promo3 img{
      width: 300px;
    }
  }